<h1>Dashboard</h1>

<%= form_for @talk do |form| %>
  <%= form.fields_for :content do |content_form| %>
    <%= content_form.text_field :body, placeholder: "talk here", required: true %>
  <% end %>
  <%= form.submit "Talk." %>
<% end %>

<%= render @talks %>
