<h1>Dashboard</h1>

<%= form_for @talk do |form| %>
  <%= form.hidden_field :content_type, value: "TextTalk" %>
  <%= form.fields_for :content do |content_form| %>
    <%= content_form.text_field :body, placeholder: "talk here", required: true %>
  <% end %>
  <%= form.submit "Talk." %>
<% end %>

<%= render @talks %>

<%= form_for @talk do |form| %>
  <%= form.hidden_field :content_type, value: "PhotoTalk" %>
  <%= form.fields_for :content do |content_form| %>
    <%= content_form.file_field :image, required: true %>
  <% end %>
  <%= form.submit "Talk." %>
<% end %>

<%= render @talks %>
