<h1>Dashboard</h1>

<%= talk_form_for(TextTalk) do |form| %>
  <%= form.text_field :body, placeholder: "talk here", required: true %>
<% end %>

<%= talk_form_for(PhotoTalk) do |form| %>
  <%= form.file_field :image, required: true %>
<% end %>

<%= render @dashboard.timeline %>
